﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="~/touch-icon.png" />

    <link rel="icon" href="~/touch-icon.png" />
    <meta name="msapplication-TileImage" content="~/touch-icon.png">

    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />   
    <link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/application.css" rel="stylesheet" />
    <style>
        .row li {
            margin-left: -10px;
        }
    </style>
</head>
<body>
    <div class="banner">
        <a class="slide-menu-toggle-open no-slide-menu"
           title="More Samples">
            <i class="fa fa-bars"></i>
        </a>

        <div class="title-bar no-slide-menu">
            <a>
                <img src="~/images/WebConnectionIcon.png"
                     style="height: 45px; float: left" />
                <div style="float: left; margin: 4px 5px; line-height: 1.0">
                    <i style="color: #0092d0; font-size: 0.9em; font-weight: bold;">West Wind</i><br />
                    <i style="color: whitesmoke; font-size: 1.65em; font-weight: bold;">Time Trakker</i>
                </div>
            </a>
        </div>

        <nav class="banner-menu-top pull-right">            
            <a href="http://west-wind.com/webconnection/docs/" class="menu-hidable">
                <i class="fa fa-book"></i>
                Documentation
            </a>
            <a href="../">
                <i class="fa fa-home"></i>
                Home
            </a>            
        </nav>
    </div>


    <div id="MainView">
        <%= RenderContent() %>
    </div> <!-- end #MainView -->

    <footer>
        <a href="http://www.west-wind.com/" class="pull-right">
            <img src="~/images/WestwindText.png" />
        </a>
        <small>&copy; Westwind Technologies</small>
    </footer>

</body>
</html>